# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables & secrets
.env
.env.*
*.secret

# Output demo files
demo_output_echoscribe.srt
*.tmp
*.log

# PyInstaller / Build
build/
dist/
*.spec

# IDEs
.vscode/
.idea/
*.swp

